// Required
@import "./functions";
@import "./variables";
@import "./mixins";
@import "./bootstrap";
body {
	height: 100vh;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}